body {
}


button {
    margin: 10px;
    height: 50px;
    width: 100px;
    border-radius: 15%;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
}

    button:hover {
        background-color: #000000;
        background-color: rgba(0, 0, 0, 0.4);
    }

.label {
    color: salmon;
}

.log div {
    color: #822929;
}

.initial {
    margin-top: 10px;
    font-size: large;
    font-weight: 900;
    background-color: #eadc59;
    width: 30%;
}

.desirable {
    margin-top: 10px;
    font-size: large;
    font-weight: 900;
    background-color: #e8d84a;
    width: 30%;
}

.input {
    width: 250px;
}